---
layout: default
---
<div class="post" style="background-color:transparent;">

  <article class="post-content" style="text-align:center;">
    &nbsp;
    &nbsp;
    <a href="#" data-reveal-id="modal1" class="timetable-btn button round">{{ page.mod_depart_link }}</a>
    <div id="modal1" class="reveal-modal" data-reveal aria-labelledby="modal1" aria-hidden="true" role="dialog">
      <div class="accordion-instructions">{{ page.accordion_instructions }}</div>
      <dl class="accordion radius" data-accordion>
        {% for block in contentblocks %}{% if block[0] contains 'to' %}
        <dd class="accordion-navigation">
          {% capture name %}{{ block[0] }}{% endcapture %}
          {% capture caption_var %}{{ name }}_caption{% endcapture %}
          <a href="#{{name}}" class="caption">{{ page.[caption_var] }}</a>
          <div id="{{name}}" class="content">
            {% contentblock [block[0]] %}
          </div>
        </dd>
        {% endif %}{% endfor %}
      </dl>
      <a class="close-reveal-modal">&#215;</a>
    </div>
    &nbsp;
    &nbsp;
    <a href="#" data-reveal-id="modal2" class="timetable-btn button round">{{ page.mod_return_link }}</a>
    <div id="modal2" class="reveal-modal" data-reveal aria-labelledby="modal1" aria-hidden="true" role="dialog">
      <div class="accordion-instructions">{{ page.accordion_instructions }}</div>
      <dl class="accordion radius" data-accordion>
        {% for block in contentblocks %}{% if block[0] contains 'from' %}
        <dd class="accordion-navigation">
          {% capture name %}{{ block[0] }}{% endcapture %}
          {% capture caption_var %}{{ name }}_caption{% endcapture %}
          <a href="#{{name}}" class="caption">{{ page.[caption_var] }}</a>
          <div id="{{name}}" class="content">
            {% contentblock [block[0]] %}
          </div>
        </dd>
        {% endif %}{% endfor %}
      </dl>
      <a class="close-reveal-modal">&#215;</a>
    </div>



    {{ content }}

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="hide-for-small-only">
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
    </div>
  </article>

</div>
