---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">

    <ul class="accordion" data-accordion>
      <li class="accordion-navigation">
        <a href="#panel1a" class="caption">{% contentblock accordion1_caption %}</a>
        <div id="panel1a" class="content">
          {% contentblock accordion1_content %}
        </div>
      </li>
      <li class="accordion-navigation">
        <a href="#panel2a" class="caption">{% contentblock accordion2_caption %}</a>
        <div id="panel2a" class="content">
          {% contentblock accordion2_content %}
        </div>
      </li>
    </ul>

    {{ content }}

  </article>

</div>
