<!DOCTYPE html>
<html>
{% include head.html %}
<body class="{{page.classname}}">

{% include header.html %}

{% if page.frontpage %}

<div id="featured" data-orbit>
  <img src="/assets/images/banneri_1.jpg">
  <img src="/assets/images/banneri_2.jpg">
  <img src="/assets/images/banneri_3.jpg">
</div>

<div id="background">
{% endif %}

<div id="wrapper">
<div class="row main-content">
  <div class="large-12 columns">
    {{ content }}
  </div>
</div>
</div>


{% include footer.html %}
{% if page.frontpage %}
</div><!-- // #background -->
{% endif %}

<script>
$(document).foundation({
  orbit: { slide_number_text: '/' },
  accordion: { multi_expand: true }
});
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72170778-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
