<!DOCTYPE html>
<html>
{% include head.html %}
<body class="{% if page.frontpage %}frontpage{% endif %}">

<div id="branding">
  <table id="header-table">
    <tr>
    <td class="logo">
      <a href="{{ site.baseurl }}/">
        <img src="/assets/images/logo.png" class="a8e-logo-top" />
      </h1>
    </td>
    <td class="name">
      <h1 style="text-align:center;">
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
    <td>
    </tr>
  </table>
</div>

{% include header.html %}

{% if page.frontpage %}

{{ content }}

{% else %}

<div id="background">
<div class="row main-content">
  <div class="large-12 columns">
    {{ content }}
  </div>
</div>
</div>

{% endif %}

{% include footer.html %}

<script>
$(document).foundation({
 accordion: {
    multi_expand: true,
  }
});
</script>

</body>
</html>
