<!DOCTYPE html>
<html>
{% include head.html %}
<body class="{{page.classname}}">

{% include header.html %}

{% if page.frontpage %}

<div id="featured" data-orbit>
  <img src="/assets/images/banneri_1.jpg">
  <img src="/assets/images/banneri_2.jpg">
  <img src="/assets/images/banneri_3.jpg">
</div>

<div id="background">
{% endif %}

<div id="wrapper">
<div class="row main-content">
  <div class="large-12 columns">
    {{ content }}
  </div>
</div>
</div>


{% include footer.html %}
{% if page.frontpage %}
</div><!-- // #background -->
{% endif %}

<script>
$(document).foundation({
  orbit: { slide_number_text: '/' },
  accordion: { multi_expand: true }
});
</script>

</body>
</html>
