---
layout: default
frontpage: true
---

<div id="featured" data-orbit>
  <img src="http://pea.nu:4000/assets/images/AGT%20NETTISIVU%20COVER.jpg">
  <img src="http://pea.nu:4000/assets/images/loppuunmyyty%20nettisivu%20banneri.jpg">
  <img src="http://pea.nu:4000/assets/images/agt%20jatkot.jpg">
</div>

<div class="row">
  <div class="large-12 columns show-for-small">
    <img src="http://placehold.it/1200x700&text=Mobile Header">
  </div>
</div><br>

<div class="row">
  <br style="clear:both;" />
  <div class="large-12 columns">
    {{ content }}
  </div>
</div>
