---
layout: default
frontpage: true
---

<div id="featured" data-orbit>
  <img src="http://pea.nu:4000/assets/images/%C3%84ij%C3%A4%20(Case%20Conflict).jpg">
  <img src="http://placehold.it/1200x500&text=Slide Image 2" alt="slide image">
  <img src="http://placehold.it/1200x500&text=Slide Image 3" alt="slide image">
</div>

<div class="row">
  <div class="large-12 columns show-for-small">
    <img src="http://placehold.it/1200x700&text=Mobile Header">
  </div>
</div><br>

<div class="row">
  <div class="large-12 columns">
    <div class="row">

      <div class="large-6 small-6 columns">
        <img src="http://pea.nu:4000/assets/images/champagne.jpg">
      </div>

      <div class="large-6 small-6 columns">
        <img src="http://placehold.it/500x465&text=Image">
      </div>

    </div>
  </div>
</div>

<div class="row">
  <br style="clear:both;" />
  <div class="large-12 columns">
    {{ content }}
  </div>
</div>
