---
layout: default
---
<!--<h4>Uutta</h4>-->
<div class="row">
  <div class="large-12 columns">
    <div class="panel callout radius">
      <ul class="post-list">
        {% for post in site.posts %}
          <li>
            <span class="post-meta">{{ post.date | date: "%d.%m.%Y" }}</span>
            <h5>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h5>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 hide-for-small">
    <div id="featured" data-orbit>
      <img src="http://placehold.it/1200x500&text=Slide Image 1" alt="slide image">
      <img src="http://placehold.it/1200x500&text=Slide Image 2" alt="slide image">
      <img src="http://placehold.it/1200x500&text=Slide Image 3" alt="slide image">
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns show-for-small">
    <img src="http://placehold.it/1200x700&text=Mobile Header">
  </div>
</div><br>

<div class="row">
  <div class="large-12 columns">
    <div class="row">

      <div class="large-6 small-6 columns">
        <img src="https://www.google.fi/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0CAMQjRxqFQoTCO3LwpTYq8cCFWv-cgodgKII2A&url=https%3A%2F%2Fcareerpros.wordpress.com%2F2015%2F04%2F13%2Fhey-is-for-horses-the-importance-of-email-etiquette%2F&ei=B4HPVa2sDuv8ywOAxaLADQ&bvm=bv.99804247,d.bGQ&psig=AFQjCNGuBBKbbCLwX_M_KFQLVxzaXIb8VA&ust=1439748743279183">
      </div>

      <div class="large-6 small-6 columns">
        <img src="http://placehold.it/500x465&text=Image">
      </div>

    </div>
  </div>
</div>
