$small-breakpoint:  640px;
$medium-breakpoint: 1024px;
$large-breakpoint:  1440px;
$xlarge-breakpoint: 1920px;

@media screen and (min-width: $small-breakpoint) {
  nav.top-bar {
    text-align: center;
  }
  section.top-bar-section {
    display: inline-block;
  }
}

#header-table { margin: 0; border: 0; background-color: transparent; }
#header-table .logo { vertical-align: middle; }
#header-table .name {
  & { vertical-align: middle; }
  h1 { margin: 0 }
  a, a:hover { color: #000; text-decoration: none; }
}
.a8e-logo-top { width: 95px; float: left; }

/*.above-navi { margin-top: 20px; }*/
#branding { width: 100%; }
#navigation { width: 100%; }
@media screen and (min-width: 1180px) {
  #branding { width: 50%; float: left; }
  #navigation { width: 50%; float: left; }
}

#navigation { margin-top: 20px; }
.frontpage #navigation nav.top-bar .top-bar-section ul a { color: #000; }
.frontpage #navigation nav.top-bar .toggle-topbar.menu-icon a { color: #000; }
#navigation nav.top-bar {
  & { background-color: transparent; }
  .top-bar-section>ul>.divider, .top-bar-section>ul>[role="separator"] {
    border-right: solid 1px #ddd;
  }
  .top-bar-section ul {
    li, a { background-color: transparent; }
    a { color: #fff; font-size: 24px; font-family: $base-font-family  }
    .has-dropdown > a { padding-right: 0.9375rem !important; }
    .dropdown li { margin-left: 47px; background-color: #fff; }
  }
  .toggle-topbar.menu-icon a { color: #fff; font-size: 18px; }
  .toggle-topbar.menu-icon a span::after {
    box-shadow: 0 0 0 1px #ccc,0 7px 0 1px #ccc,0 14px 0 1px #ccc;
  }
}
#navigation nav.top-bar.expanded {
  .title-area { background: none; }
  .top-bar-section ul li { background-color: #999; }
}

#branding .name h1 { font-size: 31px; }

body {
  background-image: url('/assets/images/bg.jpg');
  background-repeat: repeat-y;
  background-size: cover;
}

body.frontpage { background: none; }

body #background {
  clear: both;
}

.main-content { padding: 40px 0px; margin-top: 10px; }
.post { padding: 40px; background-color: #fff; }

.copyright { font-size: 12px; color: #fff; }

ul.accordion {
  & { margin: 0 }
  h2 { margin: 0; font-size: 28px; }
  .caption:hover { text-decoration: none; }
  .caption { border-bottom: #ddd 1px solid; }
  .caption { padding: 7px 12px 1px 12px; }
  ul { margin-bottom: 30px; }
 }

.reveal-modal { min-height: auto !important; }

.timetable-btn { font-size: 1.5rem; }
.timetable-btn:hover { text-decoration: none; }

.accordion-navigation > a:after {
  content: "\02193";
  padding-left: 5px;
  float: right;
  font-size: 13px; }
.accordion-navigation.active a:after {
  content: "\02191"; }

.accordion-instructions { margin-bottom: 20px; }
.reveal-modal .close-reveal-modal { font-size: 2rem; top: 1px; right: 10px; }

$global-radius: 10px;
.accordion.radius li:first-child > a {
  border-top-left-radius: $global-radius;
  border-top-right-radius: $global-radius;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.accordion.radius li:first-child div.content {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.accordion.radius li > div.content {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.accordion.radius li:last-child > a {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: $global-radius;
  border-bottom-right-radius: $global-radius;
}
.accordion.radius li:last-child div.content {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: $global-radius !important;
  border-bottom-right-radius: $global-radius !important;
}
