<div id="navigation">

  <div id="branding">
    <table id="header-table">
      <tr>
      <td class="logo">
        <a href="{{ site.baseurl }}/">
          {% if page.frontpage %}
          <img src="/assets/images/a8e_logo_black.png" class="a8e-logo-top" />
          <img src="/assets/images/agt_logo_black.png" class="agt-logo-top" />
          {% else %}
          <img src="/assets/images/a8e_logo_white.png" class="a8e-logo-top" />
          <img src="/assets/images/agt_logo_white.png" class="agt-logo-top" />
          {% endif %}
        </h1>
      </td>
    </table>
  </div>

  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name"></li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      {% if site.navigation.main %}
      {% if site.navigation.main.links %}
      <ul class="right">
        {% for link in site.navigation.main.links %}
        <li{% if link.href == page.permalink %} class="active"{% endif %}>
          <a class="page-link" href="{{ link.href | prepend: site.baseurl }}">{{ link.title }}</a>
          {% if link.dropdown %}
          <ul class="dropdown">
            {% for submenu in link.dropdown %}
            <li><a href="{{ submenu.href | prepend: site.baseurl }}">{{ submenu.title}}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        {% if forloop.last %}{% else %}<li class="divider"></li>{% endif %}
        {% endfor %}
      </ul>
      {% endif %}
      {% endif %}
      </ul>
    </section>
  </nav>
</div>
